:root {
  --header-mobile-color: #3a4a42;
  --header-desktop-color: #344563;
  --headline-color-1: #172b4d;
  --headline-color-2: #36b37e;
  --background-color: #fff;
  --project-background-color: #d0d9d4;
  --skills-background-color: #ebf0ee;
  --project-button-color: #36b37f;
  --button-pressed-color: #008552;
  --button-active-color: rgba(54, 179, 127, 0.24);
  --about-me-p-color: #42526e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

body {
  background: var(--background-color);
  overflow-x: hidden;
}

li {
  list-style: none;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  top: 44px;
}

.navbar ul {
  display: none;
}

.hamburger-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  margin-left: 80%;
  margin-top: 0.75rem;
  width: 2.5rem;
  height: 1.75rem;
  border: none;
  padding-right: 0.25rem;
  background: rgba(255, 255, 255, 0.8);
}

.hamburger-menu span {
  color: #000;
  font-size: 2rem;
}

.navbar li {
  margin: 0 1rem;
}

.headline-social li {
  margin: 0 12px;
}

.language-skills li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--headline-color-2);
  background: var(--background-color);
  border-radius: 8px;
  grid-row: 1;
}

.container {
  height: 100%;
  width: 100%;
  background: url("./assets/header_mobile.png") no-repeat center center/100%;
  margin-top: 27px;
}

.headline {
  height: 90%;
  width: 90%;
  top: 55.17px;
  overflow: hidden;
  margin: 0 27px;
  text-align: center;
  justify-content: center;
}

.headline h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: var(--headline-color-1);
  margin-top: 15%;
}

.headline h1 span {
  color: var(--headline-color-2);
}

.headline-paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--headline-color-1);
  margin-top: 15px;
}

.headline-social {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 19.62px;
  margin: 22.89px auto 0 70px;
}

.headline-social ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 10px;
  margin-right: 20%;
}

.scroll-button {
  margin-top: 83px;
  align-items: center;
  margin-bottom: 63px;
}

.work {
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  text-align: center;
  margin: 10px 20px 10px 10px;
  grid-gap: 10px;
  width: 100%;
}

.title h2 {
  color: var(--headline-color-1);
  height: 97px;
  font-weight: 700;
  line-height: 52px;
  font-size: 40px;
  margin-top: 63px;
  margin-right: 28px;
  margin-left: 26px;
  margin-bottom: 24px;
  padding-left: 10px;
  padding-right: 10px;
}

.indicator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 62px;
}

.project-grid {
  display: grid;
  grid-template-rows: 252px auto 48px;
  border-radius: 8px;
  border: 1px solid var(--project-background-color);
  margin-bottom: 15%;
  grid-template-columns: repeat(1, 1fr);
}

.project-image {
  background: var(--project-background-color);
}

.project-title {
  color: var(--header-mobile-color);
  margin-top: 16px;
  margin-bottom: 16px;
}

.project-skills {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.project-skills ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.project-skills li {
  color: var(--header-mobile-color);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  padding: 11.6px;
  border-radius: 4px;
  background: var(--skills-background-color);
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 122px;
  height: 48px;
  margin-left: calc(50% - 122px / 2 + 0.5px);
  margin-top: 29px;
  margin-bottom: 24px;
  background-color: var(--project-button-color);
  border-radius: 4px;
  border: none;
  color: var(--background-color);
}

.button a {
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--background-color);
}

.about-me {
  background:
    url("./assets/about_me_bg_right.png") no-repeat,
    url("./assets/about_me_bg_left.png") no-repeat;
  background-size: 18%, 18%;
  padding-top: 68px;
  background-position: 100% -10%, left bottom;
  text-align: center;
  margin-bottom: 59px;
}

.about-me h2 {
  font-weight: 700;
  line-height: 52px;
  font-size: 40px;
  text-align: center;
  color: var(--headline-color-1);
}

.about-me p {
  margin-left: 12px;
  margin-right: 18px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  color: var(--about-me-p-color);
}

.button.resume {
  width: 150px;
  height: 56px;
}

.language-grid-all {
  grid-template-columns: 1fr;
  margin-left: 10%;
  margin-right: 10%;
}

.language-grid {
  align-items: center;
  width: 100%;
  background: var(--skills-background-color);
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  margin-bottom: 10%;
}

.language-icon img {
  margin-left: 33.33%;
}

.language-title {
  box-sizing: content-box;
  width: 100%;
  margin-bottom: 24px;
  padding-left: -5px;
  grid-row: 1;
}

.language-title h2 {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.language-skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  margin-bottom: 32px;
}

.language-skills {
  grid-row: 2;
}

.project-text {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 255px;
  color: var(--headline-color-1);
}

.project-text h2 {
  font-weight: 700;
  font-size: 29px;
  line-height: 45px;
  color: var(--headline-color-1);
  margin-left: 1%;
}

.navbar li a {
  color: var(--header-mobile-color);
}

.button:active {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.button:hover {
  background: var(--button-pressed-color);
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.navbar li:hover {
  transform: scale(2, 2);
  transition: all 0.5s ease-in-out;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  background: url("./assets/contact_bg.png") no-repeat;
  background-position: 100% 80%, left bottom;
}

form {
  margin-top: 58px;
  margin-left: 24px;
  margin-right: 30px;
  width: 85%;
}

form input {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 48px;
  width: 100%;
  border: 1px solid var(--project-background-color);
  border-radius: 4px;
  margin-bottom: 24px;
  padding-left: 16px;
}

form :placeholder-shown {
  padding-left: 16px;
}

form textarea {
  height: 114px;
  width: 100%;
  background: var(--background-color);
  border: 1px solid #60c095;
  border-radius: 4px;
  padding-left: 16px;
}

.text-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.contact-info .headline-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 18%;
}

.bottom-social {
  margin-bottom: 45px;
}

.project-skills li:not(:last-child) {
  margin-right: 8px;
}

.last-p p {
  margin-right: 20%;
}

/* mobile screens */
@media only screen and (max-width: 767px) {
  /* Add your mobile styles here */
  .mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: var(--background-color);
    padding-top: 0;
    transition: 0.4s;
  }

  .mobile-nav.active {
    left: 0;
  }

  .mobile-nav a {
    display: block;
    width: 100%;
    color: var(--header-mobile-color);
    font-weight: 600;
    line-height: 44px;
    font-size: 32px;
    margin-left: 28px;
    margin-bottom: 30px;
    transition: 0.3s;
  }

  .mobile-nav button {
    cursor: pointer;
    margin-left: 85%;
    margin-top: 5%;
    border: none;
    background: var(--background-color);
    color: #67798e;
    font-size: 1rem;
  }
}

/* desktop screens */
@media only screen and (min-width: 768px) {
  /* Add your desktop styles here */
  .hamburger-menu {
    display: none;
  }

  .mobile-nav {
    display: none;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    background: url("./assets/Header-desktop.svg") no-repeat center center;
    background-size: cover;
  }

  @keyframes container {
    0% {
      background: url("./assets/Header-desktop.svg") no-repeat center center;
      background-size: cover;
    }

    100% {
      background: url("./assets/Header-desktop.svg") no-repeat center center;
      background-size: cover;
    }
  }

  .headline {
    margin-left: 15%;
    margin-right: 15%;
    height: 100%;
    width: 70%;
  }

  .headline h1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
  }

  .headline p {
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  .headline-social ul {
    margin-right: 10%;
  }

  .scroll-button {
    margin-top: 20%;
    margin-bottom: 40%;
  }

  .indicator {
    display: none;
  }

  .project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-left: 15%;
    margin-right: 15%;
  }

  .project-grid,
  .language-grid,
  .button,
  .headline-social li,
  .scroll-button img {
    transition: all 0.2s ease-in-out;
  }

  .project-grid:hover,
  .language-grid:hover,
  .button:hover,
  .headline-social li:hover,
  .scroll-button img:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }

  .button:hover,
  button a:hover {
    animation-name: change_color;
    animation-duration: 0.25s;
  }

  @keyframes change_color {
    to {
      background-color: var(--button-pressed-color);
    }
  }

  .about-me {
    background: none;
    margin-left: 15%;
    margin-right: 15%;
    height: 100%;
    width: 70%;
  }

  .language-grid-all {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .contact-form {
    background: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }

  .text-form {
    margin: 0 9.4%;
    height: auto;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    grid-template-rows: auto;
    width: 80%;
    max-width: 1100px;
  }

  body {
    background:
      url("./assets/illustration-desktop-left-contact.png") no-repeat,
      url("./assets/illustration-desktop-right-contact.png") no-repeat,
      url("./assets/illustration-desktop-middle-right-contact.png") no-repeat;
    background-size: 197px 195px, 200px 420px, 100px 100px;
    background-repeat: no-repeat;
    background-position: 1% 93%, 100% 96%, 55% 93%;
  }

  .project-text {
    text-align: left;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-left: 1%;
  }

  .project-text h2 {
    font-size: 24px;
    line-height: 30px;
    margin-top: 40px;
  }

  form {
    align-items: flex-start;
    width: 96.5%;
  }

  .form input {
    width: 100%;
  }

  .contact-info p {
    display: none;
  }

  .bottom-social {
    margin-bottom: 0;
    margin-top: 254px;
    height: 40px;
    justify-content: center;
    align-items: center;
  }

  .last-button {
    margin-left: 0;
    color: var(--background-color);
  }
}
