:root {
  --header-mobile-color: #3a4a42;
  --header-desktop-color: #344563;
  --headline-color-1: #172b4d;
  --headline-color-2: #36b37e;
  --background-color: #fff;
  --project-background-color: #d0d9d4;
  --skills-background-color: #ebf0ee;
  --project-button-color: #36b37f;
  --button-pressed-color: #008552;
  --about-me-p-color: #42526e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

body {
  background: var(--background-color);
}

li {
  list-style: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 44px;
}

.navbar ul {
  display: none;
}

.hamburger_toggle {
  display: block;
  cursor: pointer;
  margin-right: 1.5rem;
  width: 2rem;
  height: 1.75rem;
  background: var(--background-color);
  border: none;
}

.navbar li {
  margin: 0 1rem;
}

.container {
  background: url('./assets/header_mobile.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

.headline {
  overflow: hidden;
  margin: 0 27px;
  text-align: center;
}

.headline h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: var(--headline-color-1);
  margin-top: 83px;
}

.headline h1 span {
  color: var(--headline-color-2);
}

.headline-paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--headline-color-1);
  margin-top: 15px;
}

.headline-social {
  flex-direction: row;
  justify-content: center;
  padding: 0;
  height: 19.62px;
  width: 170px;
  margin: 22.89px auto 0 50px;
}

.headline-social ul {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 0 10px;
  margin: 0;
}

.headline-social li {
  margin: 0 12px;
}

.scroll-button {
  margin-top: 83px;
  align-items: center;
  margin-bottom: 63px;
}

/* Work section */
.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 28px;
  margin-left: 26px;
}

/* Project title work */
.title h2 {
  width: 327px;
  height: 97px;
  color: var(--headline-color-1);
  font-weight: 700;
  line-height: 52px;
  font-size: 40px;
  margin-bottom: 24px;
}

.indicator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 62px;
}

/* Grid container work */
.project-grid {
  display: grid;
  grid-template-rows: 252px auto 48px;
  border-radius: 8px;
  border: 1px solid var(--project-background-color);
  margin-bottom: 24px;
}

.project-image {
  background: var(--project-background-color);
}

.project-title {
  color: var(--header-mobile-color);
  margin-top: 16px;
  margin-bottom: 16px;
}

.project-skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.project-skills > li {
  color: var(--header-mobile-color);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  padding: 9.6px;
  margin-right: 8px;
  border-radius: 4px;
  background: var(--skills-background-color);
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 122px;
  height: 48px;
  margin-left: calc(50% - 122px / 2 + 0.5px);
  margin-top: 29px;
  margin-bottom: 24px;
  background-color: var(--project-button-color);
  border-radius: 4px;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--background-color);
  border: none;
}

.about-me {
  background: url('./assets/about_me_bg_right.png') no-repeat, url('./assets/about_me_bg_left.png') no-repeat;
  background-size: 18%, 18%;
  padding-top: 68px;
  background-position: 100% -10%, left bottom;
  text-align: center;
  margin-bottom: 59px;
}

.about-me h2 {
  width: 351px;
  height: 48px;
  font-weight: 700;
  line-height: 52px;
  font-size: 40px;
  text-align: center;
  color: var(--headline-color-1);
  margin-bottom: 0;
}

.about-me p {
  width: 351px;
  height: 194px;
  margin-left: 12px;
  margin-right: 18px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  color: var(--about-me-p-color);
}

.button.resume {
  width: 150px;
  height: 56px;
}

.language-grid {
  width: 327px;
  height: 40vh;
  background: var(--skills-background-color);
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.language-title {
  box-sizing: content-box;
  width: 100%;
  margin-bottom: 24px;
  padding-left: -5px;
}

.language-title h2 {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.language-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  margin-bottom: 32px;
}

.language-skills > li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--headline-color-2);
  background: var(--background-color);
  border-radius: 8px;
}

.project-text {
  display: flex;
  justify-content: center;
  margin-top: 54px;
  width: 327px;
  height: 363px;
  margin-left: 13px;
  margin-right: 13px;
  color: var(--headline-color-1);
}

.project-text h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: var(--headline-color-1);
  margin-right: 20px;
  text-align: center;
}

.navbar li a {
  color: var(--header-mobile-color);
}

.button:active {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.button:hover {
  background: var(--button-pressed-color);
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 58px;
  margin-bottom: 59px;
  background: url('./assets/contact_bg.png') no-repeat;
  background-position: 100% 80%, left bottom;
}

form {
  margin-top: 58px;
  margin-left: 24px;
  margin-right: 30px;
  width: 85%;
}

form input {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 48px;
  width: 327px;
  border: 1px solid var(--project-background-color);
  border-radius: 4px;
  margin-bottom: 24px;
  padding-left: 16px;
}

form :placeholder-shown {
  padding-left: 16px;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
}

form textarea {
  height: 114px;
  width: 327px;
  background: var(--background-color);
  border: 1px solid #60c095;
  border-radius: 4px;
  padding-left: 16px;
}

.bottom-social {
  margin-bottom: 45px;
}

.project-skills li:not(:last-child) a {
  margin-right: 8px;
}
